body {
  background: #111;
  font-family: Helvetica, Arial, sans-serif; }
  body ol#lightbox {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none; }
    body ol#lightbox li {
      display: none;
      padding: 0; }
      body ol#lightbox li h2 {
        font-size: 24px;
        color: #666;
        width: 800px;
        margin: 30px auto 0 auto; }
    body ol#lightbox li:first-child {
      display: block; }
  body .nav {
    text-align: center;
    margin: 20px 0;
    font-size: 20px; }
    body .nav a {
      display: inline-block;
      padding: 10px;
      color: #59B01B;
      text-decoration: none; }
      body .nav a:hover {
        color: #457F27; }
